name: Check repos

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          python3 -m pip install install -r requirements.txt
      - name: Run checks
        run: |
          python3 ci_check.py